:root {
  --van-tabbar-background-color: #f9f9f9 !important;
  --van-tabbar-item-active-background-color: #f9f9f9 !important;
  --van-cell-background-color: '#f9f9f9' !important;
  --van-dropdown-menu-background-color:'#f9f9f9' !important;
}