@tailwind base;
@tailwind components;
@tailwind utilities;
#app {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", sans-serif;
    background-color: #f9f9f9;
}
